html, body {
  width: auto;
  height: 100%;
  position: relative;
  background: #131516;
  color: #d8d4cf;
  margin: auto;
  padding: 5px;
  font: 62.5%/1.3 normal Helvetica, monospace;
  font-size: 16px;
  line-height: 1em;
  }
  p {
    padding: 5px;
  }
  h1 {
    /* text-align: center; */
    /* min-width: 40px; */
    /* min-height: 48px; */
    /* margin-bottom: 0px; */
    font-size: 2.3em;
    position: sticky;
    left: 50%;
    right: 50%;
  }
  header {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    /* margin: 0; */
    max-width: 720px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .container {
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 720px;
  }
  #btn-live {
    cursor: pointer;
    font-weight: bold;
    z-index: 6;
    border-radius: 0,25em;
    position: sticky;
    left: 50%;
    right: 50%;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .container__button__offline {
      color: #ce0000;
      text-shadow: 0 0 0,125em rgb(175, 175, 175), 0 0 0,25em currentColor;
      background: #131516;
      border: 1px solid rgb(255, 0, 0);
      box-shadow: 0px 0px 4px rgb(255, 0, 0);
      text-shadow: 1px 1px #911100b9;
    }
  .container__button__online {
      color: #131516;
      /* text-shadow: 0 0 0,125em rgb(255, 255, 255), 0 0 0,25em currentColor; */
      background: #48ff00;
      border: 2px solid #48ff00a8;  
      box-shadow: 0px 0px 8px #48ff00ab;
      text-shadow: 2px 2px #48ff00ab, -1px -1px #48ff00ab;
    }
  .form-control {
    align-self: right;
    position: sticky;
    float: right;
    right: 0px;
    margin: 5px;
    margin-right: 0px;
    color: #d8d4cf;
    background: #131516;
    z-index: 6;
    border: 1px solid rgba(199, 199, 199, 0.466);
  }

  .container__table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
.center {
    margin-left: auto;
    margin-right: auto;
}
.hidden {
    display:none;
}
.container__table, td, th {
  outline: 1px solid rgba(172, 172, 172, 0.575);
  border:none;
  outline-offset: -1px;
  align-self: auto;
  padding: 5px;
}
td{
  display: table-cell;
  padding: 5px;
  text-align: right;
  z-index: 1;
}
th {
  display: table-cell;
  position: sticky;
	position: -webkit-sticky;
	top: 0px;
	z-index: 2;
  padding: 5px;
  background-color: #3b3b3b;
  cursor: pointer;
  text-align: right;
  /* box-shadow: 3px  3px #0000003d; */
}
.initialprice {
  table-layout: auto;
  text-align: right;
}
.price {
  table-layout: auto;
  text-align: right;
}
.volume{
  table-layout: auto;
  text-align: right;
  background-color: rgba(133, 87, 0, 0.2);
}
.ask {
  text-align: right;
  table-layout: auto;
  background-color: rgba(130, 0, 0, 0.2);
}
.bid {
  table-layout: auto;
  text-align: right;
  background-color: rgba(0, 128, 0, 0.2);
}
.container__table__head,td,th:nth-child(1) {
  text-align: left;
  min-width: max-content;
  max-width: max-content;
}
.container__table td:first-child {
  text-align: left;
}
.container__table td {
  text-align: right;
}
.container__table__body,tr:nth-child(odd) {
  background: #6c757d6c;
}

.container__table__body,tr:nth-child(even) {
  background: #5e64696c
}
.container__footer {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
table    { display: table }
tr       { display: table-row }
thead    { display: table-header-group }
tbody    { display: table-row-group }
tfoot    { display: table-footer-group }
col      { display: table-column }
colgroup { display: table-column-group }
/* td, th   { display: table-cell } */
caption  { display: table-caption }

@media screen and (max-width: 639px) {
  h1 {
    font-size: 1.4em;
		font-weight: 400;
  }
  td {
    font-size: 14px;
  }
  th {
    font-size: 14px;
  }
.container {
  overflow-x: auto;
  max-width: 400px;
  padding: 0;
}
.form-control {
  max-width: 75px;
}

@media screen and (min-width: 640px) and (max-width: 767px) {}
  h1 {
    font-size: 1.8em;
    margin-top: 10px;
  }
  td {
    min-width: 28x;
    font-size: 14px;;
  }
  th {
    font-size: 14px;
    min-width: 30px;

  }
  .container {
    overflow-x: auto;
    max-width: 400px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  /*  */
}

/* https://codereview.stackexchange.com/questions/160979/fixed-table-header-with-scrollable-body-and-aligning-columns */



/*
GetBEM

    Block
        - Use class name selector only
        - No tag name or ids
        - No dependency on other blocks/elements on a page

        .block { color: #042; }

    Element
        - Use class name selector only
        - No tag name or ids
        - No dependency on other blocks/elements on a page

        Good
            .block__elem { color: #042; }

        Bad
            .block .block__elem { color: #042; }
            div.block__elem { color: #042; }

    Modifier
        Use modifier class name as selector:
            .block--hidden { }

        To alter elements based on a block-level modifier:
            .block--mod .block__elem { }

        Element modifier:
            .block__elem--mod { }


    Example
        .form { }
        .form--theme-xmas { }
        .form--simple { }
        .form__input { }
        .form__submit { }
        .form__submit--disabled { }
*/