html {
  background: #131516;
  color: #d8d4cf;
  margin: 0;
  padding: 0;
}
body {
  
  font: 62.5%/1.3 normal Helvetica, monospace;
  }
  p {
    font-size: 1.6em;
  }
  h1 {
    text-align: center;
    /* set style for responsive - tap targets */
    min-width: 48px;
    min-height: 48px;
    margin: 40px;
    font-size: 3em;
  }
  .container {
    /* padding: 0; */
    margin-left: auto;
    margin-right: auto;
  }
  .container__table {
    max-width: 400px;
    margin: auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
#search-input {
  padding: 0;
  margin: auto;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.hidden {
    display:none;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}
/*
.container__table__body {
}
.container__table__head {
}
.container__table__head__currency-pair {
}
.container__table__head__volume {
}
.container__table__head__initialprice {
}
.container__table__head__ask {
}
.container__table__head__bid {
}
*/
table, td, th {
  outline: 1px solid rgba(172, 172, 172, 0.12);
  border:none;
  outline-offset: -1px;
}
p, h1 {
    margin: 2em 0;
  }
td{
  border: 1px solid rgba(182, 182, 182, 0.15);
  padding:.5em 5px;
  /* font-size: 1.8em; */
  text-align: right;
  /* set style for responsive - tap targets */
  min-width: 48px;
  min-height: 48px;
  margin: 40px;
}
th {
  border: 1px solid rgba(199, 199, 199, 0.28);
  position: sticky;
	position: -webkit-sticky;
	top: 0px;
	z-index: 2;
  font-size: 1.8em;
  background-color: #474c50;
  cursor: pointer;
  /* text-align: center; */
  /* set style for responsive - tap targets */
  min-width: 48px;
  min-height: 48px;
  margin: 40px;
  text-align: right;
  
}
.initialprice {
  table-layout: auto;
  text-align: right;
}
.price {
  table-layout: auto;
  text-align: right;
}
.volume{
  table-layout: auto;
  text-align: right;
  background-color: rgba(133, 87, 0, 0.2);
}
.ask {
  text-align: right;
  table-layout: auto;
  background-color: rgba(130, 0, 0, 0.2);
}
.bid {
  table-layout: auto;
  text-align: right;
  background-color: rgba(0, 128, 0, 0.2);
}
/* Specify a background color for every <p> element that is the second child of its parent: */
.container__table__head,td,th:nth-child(1) {
  text-align: left;
  /* background-color: red; */
}
.container__table__body,tr:nth-child(odd) {
  background: #6c757d6c;
  /* background: rgba(207, 207, 207, 0.767); */
}

.container__table__body,tr:nth-child(even) {
  background: #5e64696c
  /* background: rgba(169, 169, 169, 0.767); */
}
#search-input .center {
  color: #d8d4cf;
  background: #131516;
  z-index: 3;
  /* position:  center; */
}
td {
    z-index: 1;
    /* set style for responsive - tap targets */
    min-width: 48px;
    min-height: 48px;
    margin: 40px;
}
footer {
  text-align: center;
}
/* table    { display: table }
tr       { display: table-row }
thead    { display: table-header-group }
tbody    { display: table-row-group }
tfoot    { display: table-footer-group }
col      { display: table-column }
colgroup { display: table-column-group }
td, th   { display: table-cell }
caption  { display: table-caption } */
/* @media screen and (max-width: 520px){ */

  /* html:not(.container__table) .container__table th,
  html:not(.container__table) .container__table td {
    font-size: 0;
    padding: 0;
    content: "";
    height: 7px;
  }
  html:not(.container__table) table {
    position: relative;
    overflow: hidden;
  }
  html:not(.container__table) table:before {
    content: "Table: Tap to View";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    color: #fff;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
    vertical-align: middle;
    z-index: 100;
    font-family: Helvetica, sans-serif;

  }
 html.container__table table:before {
    content: "";
    display: block;
    background: #333;
    padding: 10px;
  }

  html.container__table table:before{
    content: "Back";
    position: absolute;
    top: 0;
    left: 15px;
    padding: .5em 1em;
    margin: 10px 0;
    font-weight: bold;
    color: #fff;
    background: #000;
    border: 1px solid #fff;
  }
   / around here we could use the HTML class to hide all other content on the page aside from the table /
  html.container__table p, html.container__table h1 {
    display: none;
  }

 }
 */








/* https://codereview.stackexchange.com/questions/160979/fixed-table-header-with-scrollable-body-and-aligning-columns */



/*
GetBEM

    Block
        - Use class name selector only
        - No tag name or ids
        - No dependency on other blocks/elements on a page

        .block { color: #042; }

    Element
        - Use class name selector only
        - No tag name or ids
        - No dependency on other blocks/elements on a page

        Good
            .block__elem { color: #042; }

        Bad
            .block .block__elem { color: #042; }
            div.block__elem { color: #042; }

    Modifier
        Use modifier class name as selector:
            .block--hidden { }

        To alter elements based on a block-level modifier:
            .block--mod .block__elem { }

        Element modifier:
            .block__elem--mod { }


    Example
        .form { }
        .form--theme-xmas { }
        .form--simple { }
        .form__input { }
        .form__submit { }
        .form__submit--disabled { }
*/